section.categories
  .container
    ul.categories__list
      li.categories__item
        a.categories__link(href="#")
          .categories__description
            h3.categories__title Квадроциклы
            p.categories__details Подробнее
          picture.categories__img
            source(
              type="image/webp"
              srcset="img/categories/ATV-desktop@1x.webp 1x, img/categories/ATV-desktop@2x.webp 2x"
              )
            img(
              src="img/categories/ATV-desktop@1x.jpg"
              srcset="img/categories/ATV-desktop@2x.jpg 2x"
              alt="Квадроцикл"
              width="130.21"
              height="100")
      li.categories__item
        a.categories__link(href="#")
          .categories__description
            h3.categories__title Гидроциклы
            p.categories__details Подробнее
          picture.categories__img
            source(
              type="image/webp"
              srcset="img/categories/watercraft-desktop@1x.webp 1x, img/categories/watercraft-desktop@2x.webp 2x"
              )
            img(
              src="img/categories/watercraft-desktop@1x.jpg"
              srcset="img/categories/watercraft-desktop@2x.jpg 2x"
              alt="Гидроцикл"
              width="152"
              height="81")
      li.categories__item
        a.categories__link(href="#")
          .categories__description
            h3.categories__title Катера
            p.categories__details Подробнее
          picture.categories__img
            source(
              type="image/webp"
              srcset="img/categories/boat-desktop@1x.webp 1x, img/categories/boat-desktop@2x.webp 2x"
              )
            img(
              src="img/categories/boat-desktop@1x.jpg"
              srcset="img/categories/boat-desktop@2x.jpg 2x"
              alt="Катер"
              width="207"
              height="101")
      li.categories__item
        a.categories__link(href="#")
          .categories__description
            h3.categories__title Снегоходы
            p.categories__details Подробнее
          picture.categories__img
            source(
              type="image/webp"
              srcset="img/categories/snowmobile-desktop@1x.webp 1x, img/categories/snowmobile-desktop@2x.webp 2x"
              )
            img(
              src="img/categories/snowmobile-desktop@1x.jpg"
              srcset="img/categories/snowmobile-desktop@2x.jpg 2x"
              alt="Снегоход"
              width="165"
              height="105")
      li.categories__item
        a.categories__link(href="#")
          .categories__description
            h3.categories__title Вездеходы
            p.categories__details Подробнее
          picture.categories__img
            source(
              type="image/webp"
              srcset="img/categories/all-terrain-vehicle-desktop@1x.webp 1x, img/categories/all-terrain-vehicle-desktop@2x.webp 2x"
              )
            img(
              src="img/categories/all-terrain-vehicle-desktop@1x.jpg"
              srcset="img/categories/all-terrain-vehicle-desktop@2x.jpg 2x"
              alt="Вездеход"
              width="157"
              height="101")
      li.categories__item
        a.categories__link(href="#")
          .categories__description
            h3.categories__title Двигатели
            p.categories__details Подробнее
          picture.categories__img
            source(
              type="image/webp"
              srcset="img/categories/engine-desktop@1x.webp 1x, img/categories/engine-desktop@2x.webp 2x"
              )
            img(
              src="img/categories/engine-desktop@1x.jpg"
              srcset="img/categories/engine-desktop@2x.jpg 2x"
              alt="Двигатель"
              width="66"
              height="113")
